html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: rgb(243, 235, 235);
    font-family: 'Roboto','calibri', sans-serif;
    font-weight: 300;
    width: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}